pre {
    white-space: pre-wrap;
}

.search-suggestions {
    position: absolute;
    background-color: white;
    max-height: 40ex;
    overflow-x: hidden;
    width: 100%;
}

.clear-search-input {
    padding-left: 0.5ex;
}

.benchmark-table {
  width: 100%;
  margin-bottom: 1em;
}

.benchmark-table tr td:first-child {
  width: 1%;
  white-space: nowrap;
}

.subbenchmark-table {
  width: 100%;
}

.subbenchmark-table tr td:first-child {
  width: 1%;
  white-space: nowrap;
}

.syntax-table {
  width: 100%;
}

.syntax-table tr td:nth-of-type(even) {
  text-align: right;
  background-color: #f2f2f2;
}
.syntax-table tr td {
  width: 15%;
}

a.subbenchmark-header,
a.subbenchmark-header
{
  padding: .5em 1em;
  border-left: 1px solid #cbcbcb;
  border-top: 1px solid #cbcbcb;
  border-right: 1px solid #cbcbcb;
  color: #000;
  background-color: #e0e0e0;
	font-weight: bold;
	text-decoration: none;
}

.subbenchmark-preview {
  display: block;
  border-bottom: 1px solid #cbcbcb;
}

.subbenchmark-short
{
  border-bottom: 1px solid #cbcbcb;
}

.subbenchmark-short,
.subbenchmark-full:target,
.subbenchmark-full:target + a + .subbenchmark-box
{
  display: none;
}
/* The + a + is a hack to skip one siblbling (the subbenchmark-short) */

.subbenchmark-full,
.subbenchmark-full:target + .subbenchmark-short,
.subbenchmark-short:target + .subbenchmark-box
{
  display: block;
}

