pre {
    white-space: pre-wrap;
}

.search-suggestions {
    position: relative;
    background-color: white;
    max-height: 40ex;
    overflow-x: hidden;
    z-index: 1;
}

.clear-search-input {
    padding-left: 0.5ex;
}

.benchmark-table {
  width: 100%;
  margin-bottom: 1em;
}

.benchmark-table tr td:first-child {
  width: 1%;
  white-space: nowrap;
}

.subbenchmark-table {
  width: 100%;
}

.subbenchmark-table tr td:first-child {
  width: 1%;
  white-space: nowrap;
}

